<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hry.web.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.hry.web.entity.Member">
        <id property="memberId" column="member_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT member_id, username, password, phone, creat_date, status
        FROM member
        WHERE username=#{username}
        AND status=1
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT member_id, username, password, phone, creat_date, status
        FROM member
        WHERE member_id=#{memberId}
    </select>
</mapper>